/* header-nav 开始  */
body{
	background-color: #fff;
}
.header-nav{
	height: 32px;
	line-height: 32px;
	background: #f5f5f5;
}
.header-nav-left{
	float: left;
}
.header-nav-right{
	float: right;
}
.header-nav-right p{
	display: inline-block;
}
.header-nav-right button{
	height: 20px;
	padding: 0 15px;
	color: #fff;
	cursor: pointer;
}
.header-nav-right button:nth-of-type(1){
	background-image: linear-gradient(to bottom,#88cffa,#2da7f2);
}
.header-nav-right button:nth-of-type(2){
	background-image: linear-gradient(to bottom,#ffb6bb,#ff586a);
}
	/* header-nav 结束  */


	/* top-banner 开始  */
.top-banner{
	height: 81px;
	width: 100%;
	line-height: 81px;
	background-color: #e84637;
}
.top-banner .w{
	position: relative;
}
.top-banner .w img{
	width: 100%;
	height: 80px;
}
.top-banner span{
	width: 19px;
	height: 19px;
	position: absolute;
	top:0;
	right: 0;
	cursor: pointer;
	background: url("../images/close-banner.png") no-repeat;
}
.top-banner span:hover{
	background: url("../images/close-banner.png") no-repeat 0 -19px;
}
	/* top-banner 结束  */

/* nav开始  */
.nav{
	margin-top: 50px;
	border-bottom: 2px solid #c71521;
	line-height: 46px;
}

.nav-left{
	background: #c71521;
	width: 235px;
	height: 46px;
	color: #f3f3f3;
	text-align: center;
	font: 500 20px/46px "Microsoft Yahei";
	float: left;
}
.nav-cen a{
	width: 150px;
	height: 46px;
	float: left;
	text-align: center;
	font: 600 18px/46px "microsoft yahei";
}
	/* nav 结束  */



	/* container 开始  */
.container{
	padding: 60px 0;
}
.container-box{
	width: 100%;
	height: 200px;
	margin: 20px 0;
	position: relative;
	box-sizing: border-box;
	padding: 25px 100px;
	border: 1px solid #aaa;
}
span{
	margin: 0 20px;
	float: left;
}
span.img1{
	width: 150px;
	height: 150px;
	border: 1px solid #ccc;
}
span.img1 img{
	width: 100%;
	height: 100%;
}
span.text{
	width: 200px;
	height: 150px;
}
span.text p{
	font: 400 18px/20px "Microsoft Yahei";
	color: #000;
}
span.price{
	width: 200px;
	height: 150px;
	border-left: 1px solid #ccc;
}
span.price p{
	font: 700 25px/100px "Microsoft Yahei";
	color: #c00;
	text-align: center;
}
span.delete{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
span.delete button{
	width: 80px;
	height: 45px;
	cursor: pointer;
	border: 1px solid #ccc;
}

	/* container 结束  */





/* footer 开始  */
.footer{
	width: 100%;
	height: 120px;
	padding-top: 50px;
	background-color: #eee;
}
.footer ul{
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0;
}
.footer ul li{
	float: left;
	font-size: 12px;
	border-right: 1px solid #aaa;
}
.footer ul.aboutUs{
	padding-left: 68px;
}
.footer ul.aboutUs li{
	color: #666;
	padding: 0 10px;
}
.footer ul.id{
	padding-left: 216px;
}
.footer ul.id li{
	color: #aaa;
	padding: 0 10px;
}
.footer ul.phone{
	padding-left: 172px;
}
.footer ul.phone li{
	color: #aaa;
	padding: 0 10px;
}
.footer ul li:last-child{
	border-right: none;
}



	/* footer 结束  */
